version: 2.1

jobs:
  # Linting job-- enforces that code adheres to airbnb eslint config style guidelines
  linting:
    docker:
      - image: cimg/node:20.5
    steps:
      - checkout
      - restore_cache:
          keys:
            - node-deps-{{ checksum "package-lock.json" }}
            - node-deps-
      - run:
          name: Install dependencies
          command: npm ci
      - save_cache:
          paths:
            - ./node_modules
          key: node-deps-{{ checksum "package-lock.json" }}
      - run:
          name: Run ESLint
          command: npm run lint

  # Unit tests job-- enforces that all tests in the __test__ folder must pass before merge
  unit tests pass:
    docker:
      - image: cimg/node:20.5
    steps:
      - checkout
      - restore_cache:
          keys:
            - node-deps-{{ checksum "package-lock.json" }}
            - node-deps-
      - run:
          name: Install dependencies
          command: npm ci
      - save_cache:
          paths:
            - ./node_modules
          key: node-deps-{{ checksum "package-lock.json" }}
      - run:
          name: Run unit tests
          command: npm test

workflows:
  frontend-ci:
    jobs:
      - linting
      - unit tests pass
